/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Fonts (credit: Google Fonts - https://fonts.google.com/ */

/* CSS Variables */
:root {
    --primary-font: "Nunito", sans-serif;
    --secondary-font: "Exo", serif;
    --primary-color: #005c6e;
    /* teal */
    --secondary-color: #003d4f;
    /* dark teal */
    --highlight-color: #96afb8;
    /* grey */
    --highlight-color-light: #e5fdff;
    /* pale blue */
}

/* Global styles */
h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color)
}

p {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.section {
    padding-top: 1rem;
 }

/* Navbar */
#navbar {
    background-color: white;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 1rem;
    text-transform: uppercase;
    padding-top: 1.5rem;
}

#navbar .logo {
    width: 30px;
}

#navbar .navbar-brand,
.nav-link,
.navbar-toggler {
    color: var(--primary-color)
}

.navbar-brand,
.nav-item {
    font-size: 1rem;
}

/* About section */
#about .about-image {
    max-width: 100px;
}

/* Brief service section on Home page */
#brief-services .card {
    border: none;
    min-height: auto;
}

#brief-services .card-img-top {
    max-width: 120px;
    align-self: center;
  }

/* Footer / contact section */
#contact .social-favicons i {
    color: var(--primary-color);
    font-size: 2rem;
}